<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonApp_Automation" verbose="3" parallel="false">

	<!--  <test name="Android SamsungJ7" preserve-order="true">
	     <parameter name= "deviceName" value = "SamsungJ7"/>
		<parameter name= "platformName" value = "android" />
  		
		<classes>
      		<class name="com.sp.testscripts.AppiumSampleTestSuite"/>
    	</classes>
	</test>  --> 
  
	  <test name="Android Emulator" preserve-order="true">
		<parameter name= "platformName" value = "android" />
		<parameter name= "deviceName" value = "androidemulator"/>
		<classes>
      		<class name="com.sp.testscripts.AppiumSampleTestSuite"/>
    	</classes>
	</test>  
	 
	  
  	 <!-- <test name="iOS Iphone5">
		<parameter name= "platformName" value = "iOS" />
  		<parameter name= "deviceName" value = "iphone5" />
		<classes>
      		<class name="com.sp.testscripts.AppiumSampleTestSuite"/>
    	</classes>
	</test>  -->
	<listeners>
	     <listener class-name="com.sp.listeners.AnnotationTransformer"/>
		<listener class-name="com.sp.listeners.ExtentReporterNG"/>
	    </listeners>
  </suite>